.sidebar {
  z-index: 1;
  width: 295px;
  margin-left: 20px;
  background: #fff;
  color: #365963;
  font-weight: bold;

  svg {
    height: 2em;
    width: 2em;
  }

  .navtext {
    position: relative;
    top: 1px;
  }
}
